@import url(map/map.css);
@import url(menu/menu.css);
@import url(dialog/dialog.css);
@import url(buttons/draw-btn.css);
@import url(buttons/accordion.css);

.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

#screenshot-win {
  position: absolute;
  bottom: 0%;
  right: 1%;
  background-color: white;
  z-index: 999;
  border-color: black;
  border-style: solid;
  width: 640px;
  height: 480px;
  display: none;
}
